<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Car</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="author"
          content="Herdes Andrei, Mihalachi Bogdan-Marian, Tofan Cosmin-Alexandru">
    <meta name="description" content="No description at this time.">
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/mainpage.css"/>
    <link rel="stylesheet" href="assets/css/myprofilepage.css"/>
    <link rel="shortcut icon" href="images/small_logo.png"
          type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script-->
    <!--src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<link rel="stylesheet" type="text/css"-->
    <!--href="assets/vendor/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css"
          href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css"
          href="assets/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css"
          href="assets/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css"
          href="assets/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css"
          href="assets/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css"
          href="assets/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="assets/css/util.css">
</head>
<body>
<nav class="navbar navbar-inverse" style="border-radius:0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-branda" href="index.html"> <img class="logo" src="images/logo_white_small.png"
                                                             alt="logo"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user white"></span> My Profile</a></li>
                <li><a href="index.html"><span class="glyphicon glyphicon-log-in white"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
    <div class="limiter">
        <div class="two-sides">
            <div class="wrap-login1002">
                <div class="login100-form2">
                    <div class="text-2">
                        <h2>Last comments:</h2>
                        <table class="table" cellspacing="10">
                            <tbody>
                            <tr>
                                <div><p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50"
                                                                  width="50" border="1px"></p>
                                    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                        Text Text Text</p>
                                </div>
                            </tr>

                            <tr>
                                <div><p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px"
                                                                  width="50px" border="1px"></p>
                                    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                        Text Text Text</p>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="login100-more2">
                    <img src="https://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-thumbnail"
                         alt="Cinque Terre"
                         width="304" height="236">
                    <div class="login100-more2-content">
                        <h4>Preferinte:</h4>
                        <p>Select type of notification:</p>
                        <form>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">SMS</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Email</label>
                            </div>
                        </form>
                        <p>Change email:</p>
                        <div class="wrap-input1001">
                            <input class="input100Reg" type="text" name="change-email"> <span
                                class="focus-input100"></span>
                        </div>

                        <p>Change phone number:</p>
                        <div class="wrap-input1001">
                            <input class="input100Reg" type="text" name="change-phone-no"> <span
                                class="focus-input100"></span>
                        </div>
                    </div>

                    <div class="container-login100-form-btn-edit-profile">
                        <input name="registerButton" class="login100-form-btn-edit-profile"
                               type="submit" value="Submit"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <a href="index.html"> <img src="images/logo_white_small.png"
                                   alt="logo"/>
        </a>
        <p class="footer_details">© 2018 Notify Me and individual
            contributions. Design and technology with passion from CAB.</p>
    </div>
</div>
</body>
</html>